snippet template "Vue 3 template" b
<template>
  <div>
    ${1}
  </div>
</template>

<script>
  ${2}
</script>

<style>
  ${3}
</style>
endsnippet

snippet vuescss "Vue 3 scss"
<style lang="scss">
  ${1}
</style
endsnippet