[submodule "pwsh/Block-Adobe-Firewall"]
	path = pwsh/Block-Adobe-Firewall
	url = http://github.com/kuroji-fusky/Block-Adobe-Firewall.git
[submodule "python/utils"]
	path = python/utils
	url = https://github.com/kuroji-fusky/kuro-utils-python.git
