*                       eol=lf
*.ps1                   eol=crlf  linguist-detectable
*.bat                   eol=crlf  linguist-detectable

*.*rc                   text

browser/filters/*.txt   linguist-language=AdBlock linguist-detectable