[user]
  name = Kerby Keith Aquino
  email = hello@kurojifusky.com

[init]
  defaultBranch = main

[core]
  ignorecase = false

[color]
  ui = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[credential]
  helper = manager-core
